* {
    box-sizing: border-box;
}

.App {
padding-left: 10px
}

.App .column {
    width: 15%;
    min-height: 700px;
    background-color: #F4F5F7;
    margin: 5px
}
.dataFlex {
    display: flex;
    width: 100%;
    justify-content: left;
}
